@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Jost:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

.darken {
  @apply absolute z-[-1] w-full h-[100vh] bg-[rgba(0,0,0,.5)];
}

/* END: General styles */

.bg-img {
  @apply w-full bg-cover bg-center;
}

li {
  margin-top: 1rem;
  list-style-type: disc;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  z-index: -2;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.card-bg {
  @apply h-fit md:h-[75vh];
}

header {
  z-index: 10;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}