@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Libre+Franklin:wght@300;400&family=Montserrat:wght@300;400;500&family=Nunito:wght@200;300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

.darken {
  @apply absolute z-[-1] w-full h-[100vh] bg-[rgba(0,0,0,.5)];
}

/* END: General styles */

.bg-img {
  @apply w-full bg-cover bg-center;
}

li {
  margin-top: 1rem;
  list-style-type: disc;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  z-index: -2;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.card-bg {
  @apply h-fit md:h-[75vh];
}

header {
  z-index: 10000;
}
